* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-image: linear-gradient(75deg, #8bc0ee 0%, #c0e777 100%);
  text-align: center;
}
.search-form {
  text-align: center;
}
.input {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  background-color: #a5ffe571;
  border-color: rgba(8, 6, 139, 0.449);
}
.input:focus {
  border-color: rgb(204, 210, 32);
  outline: rgb(204, 210, 32);

  font: inherit;
}

ul {
  padding-left: 0px;
}
li {
  list-style-type: none;
}

.gallery {
  display: flex;

  padding: 0;
  margin-top: 60px;
  margin-bottom: 60px;

  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
}

.photo-card {
  flex-basis: calc((100% - 120px) / 4);

  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: cover;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-item {
  text-align: center;
  font-size: 10px;
  padding: 2px;
  margin: 0px;
}
.load-more,
.btn {
  font: inherit;
  padding: 8px;
  margin-bottom: 16px;
  background-color: #a5ffe171;
  border-color: rgba(8, 6, 139, 0.449);
  border-radius: 5px;
}
.load-more:hover,
.load-more:focus,
.btn:hover,
.btn:focus {
  border-color: rgb(204, 210, 32);
  background-color: #c0e777;
}
.load-more.is-hidden {
  display: none;
}
